@import "colors";

.Selector {
  display: flex;

}

.Selector.Vertical {
  flex-direction: column;
}
.Selector-Top {
  background: $teal;
}
.Selector-Bottom {
  flex: 1 1 auto;
}

.Selector-Bottom {
  background: $olive;
}
