@import "colors";

.MapView {
  width: 2058px;
  height: 1036px;
  flex: 1 0 auto;

  path {
    stroke: hsla(0, 100%, 50%, 1);
    fill: hsla(0, 100%, 50%, .2);
    stroke-width: .251px;
  }

  path.selected {

    stroke: gold;
    fill: rgba(255, 215, 0, .2);
    z-index: 100;
    stroke-width: 2px;
  }

  cursor: pointer;
}
