@import "colors";

.DataView {
  background: $black;
   color: $blue;
  font-size: 8px;
  display: flex;

  .Row {
    border: 1px solid $green;
    display: flex;

    div {
      padding: 3px 5px;
    }
  }

  .TreeView {
   }

  .Tree {
    color: $orange;
  }

  .Column {

    border: 10px solid gold;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .Item {
      color: hsla(0, 100%, 50%, 1);
      background: hsla(0, 100%, 50%, .17);
    }
  }

  .Key {
    color: $orange;
  }

  .Integer, .Real {
    color: $blue;
  }

  .Text {
    color: $green;
  }

  .Collection {
    color: $purple;
  }
}
