@import "colors";

.CollectionView {
  display: flex;
  flex-direction: column;

  &.NoData {
    align-items: center;
    justify-content: center;
    color: $grey;

  }

  .CollectionViewItem {
    border-bottom: 1px solid lightblue;
  }
  .CollectionViewItem.selected {
    background: $orange;
    color: white;
  }
}

