@import "colors";

.Layout {
  background: black;

  .Selector-Bottom {
    background: $blue;
    color: white;
    overflow: hidden;
    position: relative;

    .CollectionView {
      position: absolute;
      width: 100%;
      &.NoData {
        color: white;
        height: 100%;
      }
    }
  }


  &.Horizontal .Menu {
    flex-direction: column;
  }

  .CollectionViewItem {
    border-bottom: 1px solid lightblue;
  }

  .CollectionViewItem.selected {
    background: $orange;
    color: white;
  }

  .Marker {
    background: white;

  }

}
