@import "colors";

.Layout {
  background: black;

  .Selector-Bottom {
    background: $blue;

    .CollectionView {
      height: 100%;

      &.NoData {
        color: white;
      }
    }
  }


  &.Horizontal .Menu {
    flex-direction: column;
  }

  .CollectionViewItem {
    border-bottom: 1px solid lightblue;
  }

  .CollectionViewItem.selected {
    background: $orange;
    color: white;
  }

  .Marker {
    background: white;

  }

}
