@import "colors";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
  user-select: none;
}

.Layout {
  width: 100%;
  height: 100%;
  width: 375px;
  height: 667px;


 /* height: 375px;
  width: 667px; */
  background: white;
  display: flex;
  flex-direction: column;
}

.Layout-Body {
  flex: 1 0 100px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Layout.Landscape .Layout-Body {
  flex-direction: row;
}

.Map {
  flex: 0 0 200px;
  background: black;
  color: hsla(0, 100%, 50%, 1);
  overflow: hidden;
}
.Menu {
  border: 1px solid $blue;
  background: $blue;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.Timeline {
  border: 1px solid $orange;
  color: $orange;
  padding: 5px 10px;
}

.ListView {
  background: white;
  color: $blue;
  border: 1px solid white;
  flex: 1 0 auto;
}
